@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300italic,300&subset=latin,cyrillic,cyrillic-ext);
@import "reset";
@import "mixins";
@import "../../node_modules/flexboxgrid/css/flexboxgrid.css";
@import '../../node_modules/material-design-lite/src/typography/_typography.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

pre {
    white-space: pre-wrap;
}


@include scrollbars(.5rem, slategray);
