
.layout {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.layout__app-bar {
    flex-basis: 64px;
    z-index: 1;
}

.layout__body {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
    z-index: 0;
}
