$chat-width: 800px;

.thread-chat {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

    .thread-chat__message-row {
        flex-grow: 1;
        overflow-y: scroll;
        height: 0;
    }

        .thread-chat__message-column {
            margin: 0 auto;
            padding: 0 1rem 1rem 1rem;
            max-width: $chat-width;
        }

    .thread-chat__input-area-row {
        flex-grow: 0;
        padding-bottom: 1.5rem;
    }

        .thread-chat__input-area-column  {
            margin: 0 auto;
            padding: 0 1rem;
            max-width: $chat-width;
        }

            .chat-input-area {
                display: flex;
                align-items: center;
                padding: 0.5rem 1rem;
            }

                .chat-input-area__input {
                    flex-grow: 1;
                }

                .chat-input-area__send {
                    flex-grow: 0;
                    margin-left: 1rem;
                }
