
.header {
	background: #633da9;
	height: 90px;
	color: white;
}

.header-menu-wall-item {
	display: inline-block;
	margin: 10px;
}

.header-menu-wall-item a {
	color:white;
	text-decoration: none;
	font-size: 10px;
}