.paragraph {
    line-height: 2rem;
}

    .paragraph__replay {
        margin-top: 0.5rem;
        padding: 0.5rem 1rem 0.5rem 2rem;
        border-top: 2px solid #eee;
        color: rgba(0, 0, 0, 0.5);
    }
