@import "../../styles/variables";

.login-form {
  max-width: 400px;
  margin: 100px auto;
  padding: $size-sm;
}

.login-form__body {
    padding: $size-sm * 2;
}

.login-form__submit {
  display: flex;
  justify-content: center;
  padding-top: $size-lg;
}
