.message {
    display: flex;
    align-items: flex-start;
    padding-bottom: 1.5rem;
}

.message--my {
    justify-content: flex-end;
}

    .message__avatar {
        flex-grow: 0;
        margin-top: 0.5rem;
    }

    .message__body {
        flex-grow: 1;
        padding: 1rem;
        flex-basis: 0;
    }

    .message__body--other {
        margin-left: 2rem;
        margin-right: 4rem;
    }

    .message__body--my {
        margin-left: 9rem;
    }
