.chat-page {
    height: 100%;
    display: flex;
    align-items: stretch;
}

.chat-page__threads {
    width: 300px;
    overflow-y: auto;
}

.chat-page__chat {
    flex-grow: 1;
    flex-basis: 0;
}

.chat-page__empty {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
}


